body {
  background-color: transparent;
  margin: 0;
}

#giraffe {
  border: 0px solid white;

  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

canvas {
  margin-top: 0;
}

@font-face {
  font-family: 'Slabo';
  src: url('Slabo27px-Regular.ttf');
}
